<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p style="padding-bottom: 20px;">Dear Ms. @Model?.Name</p>

    <span>
        According to your registration information, you arrives at @Model?.Location international airport at 3p.m on September 9th, 2024.
    </span>
    <span>
        In order to ease you travel from Ha Noi to Cao Bang, the Symposium Committee have arranged a shuttle bus at  5p.m.
    </span> 
    <span>
        After you finish claiming your luggage, please et to the Gate, our staff will be waiting for you.
    </span>
    <span>
        If you have any questions, please do not hesitate to contact us through this email.
    </span> 
    <span style="padding-bottom: 20px;">
        Looking forward to meeting you soon.
    </span>

    <p>Yours failfully,</p>
    <p>APGN2024 team</p>
</body>
</html>
