<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p style="padding-bottom: 20px;">Dear Ms. @Model.Name</p>

    <span>
        This is to inform that your registration fee has been paid and your registration has been verified.
    </span>
    <span>
        Thank you for your interest in the 8th Asia Pacific Geoparks Network Symposium.
    </span>
    <span style="padding-bottom: 20px;">
        Looking forward to meeting you soon.
    </span>

    <p>Yours failfully,</p>
    <p>APGN2024 team</p>
</body>
</html>

