<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p style="padding-bottom: 20px;">Dear Ms. @Model.Name</p>
    <p>
        Your abstract has been successfully submitted. The title is
    </p>
    <p style="padding: 0px 10px 20px 50px; color: dodgerblue;">@Model.Title</p>
    <p style="padding-bottom: 20px;">If you need any assistance, please do not hesitate to contact us.</p>

    <p>Yours failfully,</p>
    <p>APGN2024 team</p>
</body>
</html>
