<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p style="padding-bottom: 20px;">Dear Ms. @Model?.Name</p>
    <p>
        Thank you very much for registering for the 8th Asia Pacific Geoparks Network Symposium.
    </p>
    <p>
        Would you please, provide us with more details regarding your health and medical requirements so that we will have better preparation during the Symposium time?
    </p>
    <p style="padding-bottom: 20px;">
        Looking forward to seeing you soon.
    </p>

    <p>Best regards</p>
    <p>APGN2024 team</p>
</body>
</html>
