<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p style="padding-bottom: 20px;">Dear Ms. @Model?.Name</p>
    <p>
        Thank you very much for registering for the 8th Asia Pacific Geoparks Network Symposium.
    </p>
    <p>
        Would you please, provide us with more details regarding arrival to Vietnam to facilitate the shuttles from your Vietnam entry place to the Conference venue?
    </p>
    <p>
        When will you arrive in Vietnam? If you travel by air, could you please give us details of the flight number, arrival time and airport?
    </p>
    <p>
        In case you travel by road, we would be grateful to know your arrival time and border gate.
    </p> 
    <p>
        Thank you very much for your cooperation.
    </p>
    <p style="padding-bottom: 20px;">
        Looking forward to seeing you soon.
    </p>

    <p>Best regards</p>
    <p>APGN2024 team</p>
</body>
</html>
