<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p style="padding-bottom: 20px;">Dear Ms. @Model.Name</p>

    <span> We are writing to inform that your registration fee has not been paid. </span> 
    <span>To complete the registration, pay your registration fee through bank transfer according below bank account.</span>

    <span style="padding-left: 3px; color: darkred">
        Account: <span style="font-weight: bold">CAO BANG GEOPARK</span>
    </span>
    <span style="padding-left: 3px; color: darkred">
        Bank: <span style="font-weight: bold">Vietin bank</span>
    </span>
    <span style="padding-left: 3px; color: darkred">
        RIB: <span style="font-weight: bold">007 090 0000962000313122 94</span>
    </span>
    <span style="padding-left: 3px; color: darkred">
        IBAN: <span style="font-weight: bold">MA64 007 090 0000962000313122 94</span>
    </span>
    <span style="padding-left: 3px; color: darkred">
        BIC: <span style="font-weight: bold">BCMAMAMC</span>
    </span>
    <span>After you complete a bank transfer, please send following information and documents to <span style="color: deepskyblue">caobangapgn2024@gmail.com.</span></span>
    <p>
        <span style="font-weight:bold">1. Name and Family Name:</span>
        <span style="font-weight:bold">2. Country:</span>
        <span style="font-weight:bold">3. Registration Reference Code:</span>
        <span style="font-weight:bold">4. Transfer Date:</span>
        <span style="font-weight:bold">5. Transfer Slip: (Please attached in JPEG, BIT or PDF format)</span>
        <span>
            Please kindly use the email subject as <span style="font-weight:bold">“APGNxxxx-Attached-Transfer Slip”</span>
            (APGNxxxx means your registration reference code )
        </span>
        <span>
            If you have any questions, please do not hesitate to contact us through this email.
        </span>
    </p>
    <p style="padding-bottom: 20px;">If you need any assistance, please do not hesitate to contact us.</p>

    <p>Yours failfully,</p>
    <p>APGN2024 team</p>
</body>
</html>

