<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h1>Dear Ms. @Model.Name</h1>
    <p>Thank you for your registration for the 8th Asia Pacific Geoparks Network Symposium.</p>
    <p>The official confirmation letter will be sent to you via e-mail within two weeks upon payment clearance of registration fee.</p>
    <p>If you need any assistance, please do not hesitate to contact us.</p>
    <p>Viet Nam</p>
    <p>Ms. </p>
    <p>Non nuoc Cao Bang UGGp</p>
    <p>APGN124</p>
    <p>Yours failfully,</p>
    <p>APGN2024 team</p>
</body>
</html>
