<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p style="padding-bottom: 20px;">Dear Ms. @Model?.Name</p>
    <p>
        Thank you very much for joining the 8th Asia Pacific Geoparks Network Symposium.
    </p>
    <p>
        To facilitate the transport between the Symposium venue and your hotel, we would kindly ask you to provide us with your lodging information by filling in the form attached.
    </p>
    <p style="padding-bottom: 20px;">Thank you very much for your cooperation.</p>

    <p>Best regards</p>
    <p>APGN2024 team</p>
</body>
</html>
