<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p style="padding-bottom: 20px;">Dear Ms. @Model.Name</p>
    <p>
        Please find attached the Program of the 8th Asia Pacific Geoparks Network Symposium which takes place in Non nuoc Cao Bag Geopark, Vietnam from September 10-16, 2024.
    </p>
    <p style="padding-bottom: 20px;">Please be reminded, the time in the agenda is Vietnamese Time (GMT+7).</p>

    <p>Best regards</p>
    <p>APGN2024 team</p>
</body>
</html>
